{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="container-fluid">
    <div class="row">
        {% include "sidebar.html" %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <br>
            <h1>Candidates</h1>
            <hr>

            <!-- Flash message for caution -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div>
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="row">
                <div class="col-md-10 col-lg-12 ms-5">
                    <a href="{{ url_for('add_candidates')}}" class="btn btn-info btn-md" style="color: white;">Add Candidate</a>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <!-- Edit & delete rows buttons and func -->
                        <tbody>
                            {% for c in candidates %}
                            <tr>
                                <td><img src="{{ url_for('static', filename=c.photo_url) }}" width="100"></td>
                                <td>{{ c.full_name }}</td>
                                <td>{{ c.gender }}</td>
                                <td>{{ c.class_name }}</td>
                                <td>{{ c.position }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </main>
    </div>
</div>


{% include "footer.html" %}