<div class="sidebar-max border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto vh-100">
      <ul class="nav flex-column">
        <div class="sidebar">
            <a href="{{ url_for('dashboard') }}" class="{% if request.endpoint == 'dashboard' %}active{% else %}text-black{% endif %}">
              <img src="{{ url_for('static', filename='svg/dash.svg') }}">
              Dashboard
            </a>
            <a href="{{ url_for('generate_codes') }}" class="{% if request.endpoint == 'generate_codes' %}active{% else %}text-black{% endif %}">
              <img src="{{ url_for('static', filename='svg/code.svg') }}">
              Generate Voting Codes
            </a>
            <a href="{{ url_for('positions') }}" class="{% if request.endpoint == 'positions' %}active{% else %}text-black{% endif %}">
              <img src="{{ url_for('static', filename='svg/position.svg') }}">
              Positions
            </a>
            <a href="{{ url_for('candidates') }}" class="{% if request.endpoint == 'candidates' %}active{% else %}text-black{% endif %}">
              <img src="{{ url_for('static', filename='svg/candidate.svg') }}">
              Candidates
            </a>
            <a href="{{ url_for('results') }}" class="{% if request.endpoint == 'results' %}active{% else %}text-black{% endif %}">
              <img src="{{ url_for('static', filename='svg/result.svg') }}">
              Live Results
            </a>
            <a href="{{ url_for('logout') }}" >
              <img src="{{ url_for('static', filename='svg/logout.svg') }}">
              Logout
            </a>
        </div>
      </ul>
    </div>
  </div>
</div>