<!-- {% include "header.html" %}

<body class="thank-you">
   <div class="text-center">
        <h1 class="display-2 fw-bold mb-4">THANK YOU! 🤝🏾</h1>
        <a href="/" class="btn btn-primary btn-lg">Home</a>
    </div>
</body>


{% include "footer.html" %} -->


{% include "header.html" %}

<body>
   <div class="thank-you">
      <div class="text-center">
         <h1 class="display-2 fw-bold mb-4">THANK YOU! 🤝🏾</h1>
         <a href="/" class="btn btn-primary btn-lg">Home</a>
      </div>
   </div>
</body>

{% include "footer.html" %}